<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }} | murmurs</title>
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/custom.css">

  <!-- kinetic javascript library -->
  <script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v5.0.2.min.js"></script>
</head>
<body>
<ul id="nav">
  <li><a href="artists.html">Artists</a></li>
  <li><a href="releases.html">Releases</a></li>
  <li><a href="cyphers.html">Cyphers</a></li>
  <li><a href="https://soundcloud.com/murmurscollective">Soundcloud</a></li>
  <li><a href="http://murmurscollective.bandcamp.com/">Bandcamp</a></li>
  <li><a href="https://www.facebook.com/ahushfell?fref=ts">Facebook</a></li>
  <li><a href="contact.html">Contact</a></li>
</ul>

{{ content }}
</body>
</html>
